
h4{
    text-align: center;
}
.calc{
    border: solid black 1px;
    border-radius: 20px;
    padding: 0 20px;
    background-color: red;
    color: white;
    font-weight: bold;
}
.explination{
    margin: 0 10%;
}